.coin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.image_container{
    height:200px;
    width: 200px
}

img{
    width: 100%;
    height: 100%;
}

button{
    outline: none;
    font-size: 1rem;
    padding: 0.3rem 1.6rem;
    margin-top: 1.5rem;
    border-radius: 40px;
    font-weight: 600;
    color: #5E5F51;
    background-color: #CECECC;
}